h1 {
    background: red;
}

.paragraph-1{
    background: blue;
    font-size: 32pt;
    color: green;
}

.paragraph-2 {
    border: 10px solid yellow;
    border-radius: 5px;
    font-size: 24pt;
    margin-bottom: 60 px;
    padding-bottom: 60px;
    padding-left: 20px;
}

.paragraph-3 {
    background: rgb(77, 185, 148);
    font-size: 28pt;
    color: white;
    font-size: 24px;
    font-family: Calibri
}

.paragraph-4 {
    font-style: oblique;
    text-align: center;
    font-style: 24px;
    text-shadow: 1px 2px 2px green;
}